body{
  padding-top: 50px;
  font-size:100%;
}

.center{
text-align: center;
}

footer {

margin-top: 45px;
padding-top: 1em;
border-top: 1px solid #eaeaea;

  #footerText {
    float:left;
    padding-left: 20px;
}


  ul{
    float: right;
    padding-right: 20px;
    list-style:none;

      li{
        float: left;
 	 margin-left: 0.7em;
	 }

}

}