<header>
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <%= link_to "OmniDUKE", root_path, :class=>"brand" %>
      <div class="nav">
	<ul class="nav pull-right">
	    <%= link_to( root_path) do -%><i class="icon-home icon-white"></i> Home<% end -%></li>



	</ul>
      </div>
      
    </div>
  </div>

</header>
